/* Your custom styles here */
/*produc-color*/
.ui-w-40 {
  width: 40px !important;
  height: auto;
}

/*logo*/
.logo img {
  width: 30px;
  height: 30px;
}

.navbar {
  z-index: 2;
  background-color: #38419d;
  color: rgb(44, 119, 185);


}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: #fff;
}



main {
  flex: 1;
}

footer {
  background-color: #200e3a;
  padding: 20px 0;
  text-align: center;
}

.contact-info,
.feedback {
  margin: 20px 0;
  /* Add margin to both sections */
}

/*contact info */
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: rgb(44, 119, 185);

}

.contact-info h5 {
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
  line-height: 1.5;
  /* Add line-height for readability */
}

/* Responsive adjustments */
@media (max-width: 575.98px) {
  .product {
    flex-basis: 50%;
    max-width: 50%;
  }
}